.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
}

@media screen and (min-width: 576px) {
  .contacts__info {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .contacts__info {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__info {
    padding-top: 80px;
  }
}

@media screen and (min-width: 1920px) {
  .contacts__info {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    width: 255px;
  }
}
