.about__title {
  margin: 0;
  font-size: 21px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about__title {
    text-align: left;
  }
}
