.project__title {
  position: absolute;
  top: 40px;
  left: 40px;
  margin: 0;
  padding: 0;
  color: var(--color-white);
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  z-index: 2;
}
