.about__wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .about__wrapper {
    padding-top: 60px;
    flex-direction: row;
    column-gap: 30px;
  }
}

@media screen and (min-width: 992px) {
  .about__wrapper {
    padding: 100px 0 0 80px;
    margin: 0 auto;
    width: 691px;
  }
}

@media screen and (min-width: 1440px) {
  .about__wrapper {
    padding: 100px 0 0 0;
    width: 1110px;
  }
}
