.partners {
  margin: 0 auto;
  padding: 80px 33px 0 33px;
  max-width: 1034px;
}

@media screen and (min-width: 768px) {
  .partners {
    padding: 90px 39px 0 39px;
  }
}

@media screen and (min-width: 992px) {
  .partners {
    padding: 150px 111px 0 191px;
  }
}

@media screen and (min-width: 1280px) {
  .partners {
    padding: 150px 0 0 0;
  }
}
