.sidepanel__social {
  margin: 0;
  padding: 89px 0 0 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 140px;
  list-style: none;
}

@media screen and (min-width: 992px) {
  .sidepanel__social {
    padding: 0;
    gap: 30px;
    width: 26px;
  }
}
