.about {
  margin: 0;
  padding: 80px 33px 80px 33px;
}

@media screen and (min-width: 762px) {
  .about {
    margin: 0 auto;
    padding: 90px 39px 90px 39px;
  }
}

@media screen and (min-width: 992px) {
  .about {
    padding: 150px 0;
    max-width: 770px;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    max-width: 1110px;
  }
}
