.projects {
  box-sizing: border-box;
  padding: 0 33px;
}

@media screen and (min-width: 768px) {
  .projects {
    padding: 0 39px;
  }
}

@media screen and (min-width: 992px) {
  .projects {
    padding: 0 111px;
  }
}

@media screen and (min-width: 1280px) {
  .projects {
    padding: 0;
  }
}
